**/*.DS_Store
**/*.zip
**/*.ase
**/*.blend
**/- ARCHIVE -/
**/- WORKSPACE -/
*.afdesign~lock~
El Pollo Loco Checkliste.afdesign
El Pollo Loco Checkliste.pdf
El Pollo Loco Checkliste.pdf
El Pollo Loco Checkliste.afdesign
