/* FONTS */

@font-face {
    font-family: 'Reggae'; 
    src: url('fonts/reggae.woff2') format('woff2'),
         url('fonts/reggae.woff') format('woff'),
         url('fonts/reggae.ttf') format('ttf'),
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Keyboard'; 
    src: url('fonts/keyboard.woff2') format('woff2'),
         url('fonts/keyboard.woff') format('woff'),
         url('fonts/reggae.ttf') format('ttf'),
    font-weight: normal;
    font-style: normal;
}


@font-face {
  font-family: 'Symbols';
  src: url('fonts/symbols.eot?75332767');
  src: url('fonts/symbols.eot?75332767#iefix') format('embedded-opentype'),
       url('fonts/symbols.woff2?75332767') format('woff2'),
       url('fonts/symbols.woff?75332767') format('woff'),
       url('fonts/symbols.ttf?75332767') format('truetype'),
       url('fonts/symbols.svg?75332767#symbols') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* LAYOUT */

html,body{
	background: black;
	height: 100%;
}

body{
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;

    font-family: "Arial";

    background: url(./img/ui/BG_001.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body *{
	user-select: none; -webkit-user-select: none;
}

canvas{
	background-color: black;
	width: 100%;
}

#cache{
	overflow: hidden;
	width: 0;
	height: 0;
}

#ui{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    width: var(--app-width);
	height: var(--app-height);
}

#game{
	width: 100%;
	height: 100%;
		
	width: 100vw;
	height: 100vh;
	width: var(--app-width);
	height: var(--app-height);
	/* max-width: 740px; */

	overflow: hidden;

	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* MENU */

    #menu {
    	/* position: absolute; */
        /* background: #000000; */
        color: #fff;
        top: 0;
        display: block;
        font-size: 2em;
        width: calc(100% - 1em);
        padding: 0.5em;
        z-index: 999;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.5s;

        opacity: 0;
        pointer-events: none;
        transition: opacity 0.5s;

        max-width: 50%;
        margin-left: auto;

        text-align: right;
    }
    #menu.show {
        opacity: 1;
        pointer-events: auto;
    }

    #menu .button{
        display: inline-block;
    }
    #menu .button .icon{
        display:none;
        font-family: "Symbols";
        text-align: center;
        width: 1em;
    }

    #menu .button .icon.active{
        display: block;
    }

    #menu #pause,
    #menu #restart,
    #menu #debug,
    #menu #boss{
        display: none;
    }

    body[data-loaded="true"] #menu #pause,
    body[data-loaded="true"] #menu #restart,
    body[data-loaded="true"] #menu #debug,
    body[data-loaded="true"] #menu #boss{
        display: inline-block;
    }


/* CONTROLS */

    #controls{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 1em;
        width: calc(100% - 2em);

        opacity: 0;
        pointer-events: none;
        transition: opacity 0.5s;

        
    }
    #controls.centered{
        position: absolute;
        height: 100%;
    }
    #controls .left,
    #controls .right{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #controls .spacer{
    	width: 5vw;
    	height: 0vw;

    	pointer-events: none;
    }
    #controls .button {
    	display: flex;
        flex-direction: column;
        font-size: 10vw;
        align-items: center;
        justify-content: space-around;
        width: 15vw;
        height: 15vw;
        background: #ffffff55;
        border: 2px solid #fff;
        color: white;
        border-radius: 100%;
        margin: 1.25vw;
        font-size: calc(200%);
        font-size: 5vw;


        background: #ffffff33;
        border-color: #ffffff55;
        text-shadow: 0px 0px 5px #888888;

    	max-width: 100px;
        max-height: 100px;
    }
    #controls.show {
        opacity: 1;
        pointer-events: auto;
    }
    #controls.show.opacityB .button{
        background: #ffffff33;
        border-color: #ffffff55;
    }
    #controls.show.opacityC .button{
        background: #ffffff22;
        border-color: #ffffff33;
    }
    #controls.show.opacityD .button{
        background: #ffffff00;
        border-color: #ffffff11;
    }

    /* FIX BUTTON STUTTERING */
    #controls .buttoon{
    	touch-action: none; touch-action: none; -webkit-touch-callout: none;    
    	user-select: none; -webkit-user-select: none;
    }

/* INSTRUCTIONS */
    
    #instructions{
        align-items: center;
        justify-content: center;
        padding: 1em;
        text-align: center;
    }
    #instructions #keys{
        display: none;
    }

    #instructions .spacer{
        display: inline-block;
        width: 2em;
    }
    #instructions .keylabel{
        display: inline-block;
    }
    #instructions .key{
        font-family: "Keyboard";
        font-size: 3em;
        vertical-align: middle;
        margin-left: 0.2em;
    }

/* BG VIDEO */

    .bg_video{
        position: fixed;
        z-index: -1;
        opacity: 0;
        /* visibility: hidden; */
    }

/* RESPONSIVE */

    @media screen and (min-width: 1000px){
    	#ui #controls{
    		display: none;
        }
        #instructions #keys{
            display: block;
        }
    }